In [141]:
# M.Duchnowski
# Upskill FY2022 : Data Science Academy
# Week 5 Homework
# 11/30/2021

In [142]:
import numpy as np
import pandas as pd
import nltk

In [143]:
#
# Part 1 : Create action sequence variable ("ActSeq") and time interval sequence ("Elapsed") 
#

df = pd.read_csv (r'PSTRE_syntheticData.csv', sep='\t', )

#Sort data, for good measure
df.sort_values(by=['TestTakerID','Timestamp'], inplace=True)

# Get Acion Sequence 'ActSeq' using a zero-based group by function
# https://stackoverflow.com/questions/56963520/creating-sequential-id-in-panda-dataframe-for-given-column-values
df["ActSeq"] = df.groupby(['TestTakerID']).cumcount()

# Extract new variable 'Elapsed', the difference between Timestamp values 
x = df['Timestamp'].diff(periods=1).to_frame().rename(columns={"Timestamp": "Elapsed"})
x.loc[(x['Elapsed'] <= 0), 'Elapsed'] = np.nan

# Merge 'Elapsed' back to orginal data
df = df.join(x)
df.head(25)

    TestTakerID  Timestamp     Coding  ActSeq  Elapsed
0       1001042          0      START       0      NaN
1       1001042      44985      SS_Se       1  44985.0
2       1001042      55852   SS_Se_OK       2  10867.0
3       1001042      55950  SS_Type_2       3     98.0
4       1001042      66546          E       4  10596.0
5       1001042      90189         SS       5  23643.0
6       1001042      96096          E       6   5907.0
7       1001042     101813       Next       7   5717.0
8       1001042     105379    Next_OK       8   3566.0
9       1001042     105382        END       9      3.0
10      1001079          0      START       0      NaN
11      1001079      21234      SS_So       1  21234.0
12      1001079      27546   SS_So_1B       2   6312.0
13      1001079      31906   SS_So_OK       3   4360.0
14      1001079      77760         SS       4  45854.0
15      1001079     107174          E       5  29414.0
16      1001079     114933         SS       6   7759.0
17      1001079     120090          E       7   5157.0
18      1001079     124409         SS       8   4319.0
19      1001079     126059          E       9   1650.0
20      1001079     167356         SS      10  41297.0
21      1001079     173446          E      11   6090.0
22      1001079     179097          E      12   5651.0
23      1001079     192324       Next      13  13227.0
24      1001079     194115    Next_OK      14   1791.0

In [108]:
#
# Part 2 : Create Time to First Action 
#

dfFirstAction = df[df['ActSeq'] == 1].reset_index(drop=True).drop(['ActSeq', 'Elapsed'], axis=1).rename(columns={"Timestamp": "TimeFirstAction", "Coding" : "FirstAction"})
dfFirstAction

      TestTakerID  TimeFirstAction FirstAction
0         1001042            44985       SS_Se
1         1001079            21234       SS_So
2         1001103            39002       SS_Se
3         1001112            54895           E
4         1002087           158089    SS_Se_OK
...           ...              ...         ...
1074      3464227           103256     SS_Save
1075      3491220           115314           E
1076      4044376           110214        Next
1077      4049370            59622     SS_Save
1078      4076375            29699       SS_Se

[1079 rows x 3 columns]

In [144]:
#
# Part 3 : Create Bigrams for process data assessment path 
#

#Build a single string
# https://stackoverflow.com/questions/27298178/concatenate-strings-from-several-rows-using-pandas-groupby
dfPaths = df.groupby(['TestTakerID'])['Coding'].apply(' '.join).reset_index().rename(columns={"Coding": "Path"})

#Extract bigrams from Path and generate Bigrams 
dfTokens = dfPaths['Path'].apply(lambda row: list(nltk.bigrams(row.split(' ')))).to_frame().rename(columns={"Path": "Bigrams"})

# Merge back to orginal data
dfBigrams = dfPaths.join(dfTokens)

dfBigrams.head(25)

,TestTakerID,Path,Bigrams
0,1001042,START SS_Se SS_Se_OK SS_Type_2 E SS E Next Nex...,"[(START, SS_Se), (SS_Se, SS_Se_OK), (SS_Se_OK,..."
1,1001079,START SS_So SS_So_1B SS_So_OK SS E SS E SS E S...,"[(START, SS_So), (SS_So, SS_So_1B), (SS_So_1B,..."
2,1001103,START SS_Se SS_Se_OK SS_Type_2 E SS E SS E Nex...,"[(START, SS_Se), (SS_Se, SS_Se_OK), (SS_Se_OK,..."
3,1001112,START E SS E Next Next_OK END,"[(START, E), (E, SS), (SS, E), (E, Next), (Nex..."
4,1002087,START SS_Se_OK SS_Type_200 SS_So_1B SS_So_OK E...,"[(START, SS_Se_OK), (SS_Se_OK, SS_Type_200), (..."
5,1002110,START E SS E E_S Next Next_OK END,"[(START, E), (E, SS), (SS, E), (E, E_S), (E_S,..."
6,1003077,START SS_So SS_So_1B SS_So_OK E Next Next_OK END,"[(START, SS_So), (SS_So, SS_So_1B), (SS_So_1B,..."
7,1003110,START Next Next_C Next Next_C E Next Next_C E ...,"[(START, Next), (Next, Next_C), (Next_C, Next)..."
8,1003147,START Next Next_OK END,"[(START, Next), (Next, Next_OK), (Next_OK, END)]"
9,1003165,START SS_So_1B SS_So_OK SS_So_OK SS_Save E E_S...,"[(START, SS_So_1B), (SS_So_1B, SS_So_OK), (SS_..."
10,1003192,START SS_So SS_So_1B SS_So_2A SS_So_OK E SS E ...,"[(START, SS_So), (SS_So, SS_So_1B), (SS_So_1B,..."
11,1005075,START SS_So SS_So_1B SS_So_OK E E_S E_S Next N...,"[(START, SS_So), (SS_So, SS_So_1B), (SS_So_1B,..."
12,1006135,START E E_S Next Next_OK END,"[(START, E), (E, E_S), (E_S, Next), (Next, Nex..."
13,1006144,START E Next Next_OK END,"[(START, E), (E, Next), (Next, Next_OK), (Next..."
14,1006180,START Next Next_OK END,"[(START, Next), (Next, Next_OK), (Next_OK, END)]"
15,1007028,START SS_Se_OK SS_Type_2 SS_Se_OK SS_Type_2 E ...,"[(START, SS_Se_OK), (SS_Se_OK, SS_Type_2), (SS..."
16,1007073,START E SS E E_S Next Next_OK END,"[(START, E), (E, SS), (SS, E), (E, E_S), (E_S,..."
17,1007107,START SS_So SS_Save E E_S Next Next_OK END,"[(START, SS_So), (SS_So, SS_Save), (SS_Save, E..."
18,1007198,START E E E E Next Next_C E_S Next Next_OK END,"[(START, E), (E, E), (E, E), (E, E), (E, Next)..."
19,1007204,START SS SS E SS SS_So SS_So_1B SS_So_OK E E_S...,"[(START, SS), (SS, SS), (SS, E), (E, SS), (SS,..."
20,1008090,START E SS E SS E E_S Next Next_OK END,"[(START, E), (E, SS), (SS, E), (E, SS), (SS, E..."
21,1009053,START E Next Next_C Next Next_C Next Next_OK END,"[(START, E), (E, Next), (Next, Next_C), (Next_..."
22,1010192,START E E SS SS_So SS_So_1B SS_So_OK E E_S Nex...,"[(START, E), (E, E), (E, SS), (SS, SS_So), (SS..."
23,1011012,START SS_Se_OK SS_Type_0 SS_Se_OK SS_Type_200 ...,"[(START, SS_Se_OK), (SS_Se_OK, SS_Type_0), (SS..."
24,1012039,START E SS E Next Next_C Next Next_OK END,"[(START, E), (E, SS), (SS, E), (E, Next), (Nex..."